<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimCitySpeedBooster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GW2Booster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimCitySpeedBooster.Properties.Settings>
            <setting name="increaseHotkey" serializeAs="String">
                <value>NumPad8</value>
            </setting>
            <setting name="decreaseHotkey" serializeAs="String">
                <value>NumPad2</value>
            </setting>
        </SimCitySpeedBooster.Properties.Settings>
        <GW2Booster.Properties.Settings>
            <setting name="fovValue" serializeAs="String">
                <value>1.309</value>
            </setting>
            <setting name="increaseHotkey" serializeAs="String">
                <value>NumPad8</value>
            </setting>
            <setting name="decreaseHotkey" serializeAs="String">
                <value>NumPad2</value>
            </setting>
        </GW2Booster.Properties.Settings>
    </userSettings>
</configuration>